@import url("https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap");

canvas {
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: middle !important;
  display: inline !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 0.7 !important;
}

[contenteditable="true"]:empty::after {
  content: attr(placeholder);
  display: "block";
  opacity: 0.5;
  white-space: "pre-wrap";
}
